body {
    font-family: 'VAG World Bold';
    font-size: 2em;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 0;
    user-select: none;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./background.jpg);
}
#main {
    padding: auto;
}
.logo {
    padding: auto;
}
.content {
    width: 85vw;
    max-width: 400px;
    border-radius: 5%;
}

.header {
    width: 100%;
    padding: 0 0 0 0;
}
.view {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.main .logo{
    padding: auto;
}
