body {
    font-family: 'VAG World Bold';
    font-size: calc(24px + 16 * (100vw / 1280));;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 0;
    user-select: none;
    background-color: rgb(251, 207, 153);
}
.content {
    width: 70%;
    border-radius: 20%;
}
div {
    padding-top: 20%;
}
.header {
    width: 100%;
    padding: 0 0 0 0;
}